<app-nav></app-nav>
<div class="container w-100 p-3">
  <div class="jumbotron">
    <h1 class= "text-center">Rick & Morty</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img class="rounded animacion_char" src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="Rick" [routerLink]="['/detail/',1]">
    </div>
    <div class="col-md-4 text-center">
      <button type="button" class="btn btn-info" routerLink="/characters">Personajes</button>
    </div>
    <div class="col-md-4 text-right">
      <img class="rounded animacion_char" src="https://rickandmortyapi.com/api/character/avatar/2.jpeg" alt="Morty" [routerLink]="['/detail/',2]">
    </div>
  </div>
</div>
