<app-nav></app-nav>
<div class="container">
  <h1>LISTA PERSONAJES</h1>
  <div class="row">
    <div class="col-md-6 offset-md-5">
      <button type="button" class="btn btn-outline-success" (click)="getPage(characters['info'].prev)">Anterior</button>
      <button type="button" class="btn btn-outline-success"
        (click)="getPage(characters['info'].next)">Siguiente</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-5 offset-md-4">
      <form #formIrPagina="ngForm" ngNativeValidate (ngSubmit)="goToPage(formIrPagina)">
        <div class="form-group row">
          <label for="labelpagina" class="col-md-3 offset-md"><h5>Página</h5></label>
          <input type="text" class="col-md-4 form-control posicion" id="pagina" name="pagina" ngModel >
          <button type="submit" class="btn btn-link posicion">Ir</button>
        </div>
      </form>
    </div>
  </div>
  <span >
  <div *ngIf="mensajeError" class="row">
    <div class="col-md-6 offset-md-3">
      <h5 class="alert alert-danger mensaje_alerta">Por favor, introduzca una página entre 1 y 30</h5>
    </div>
  </div>
</span>
  <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Nombre</th>
        <th scope="col">Especie</th>
        <th scope="col">Género</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let char of characters["results"]'>
        <td>{{char.id}}</td>
        <td>{{char.name}}</td>
        <td>{{char.species}}</td>
        <td>{{char.gender}}</td>
        <td><button type="button" class="btn btn-outline-info" [routerLink]="['/detail/',char.id]">Detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <!-- <h6>Paginación</h6>
  <!-- <a href="{{characters['info'].next}}">Siguiente</a>
  <a href="{{characters['info'].prev}}">Anterior</a> -->
  <!-- <button type="button" [routerLink]="['/characters',characters['info'].prev]">Anterior</button> -->
  <!-- <button type="button" (click)="getPage(characters['info'].prev)">Anterior</button> -->
  <!-- <button type="button" [routerLink]="['/characters',characters['info'].next.substring(48, characters['info'].next.length)]">Siguiente</button> -->
  <!-- <button type="button" (click)="getPage(characters['info'].next)">Siguiente</button> -->

</div>
