<!-- <p *ngFor = 'let char of characters["results"]'>
{{characters['info'].count}}
{{characters['results'][0].name}}
    <span>{{char.name}}</span>

</p> -->

<div class="container">
  <h1>LISTA PERSONAJES</h1>

  <table class="table table-striped">

    <thead>
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Nombre</th>
        <th scope="col">Especie</th>
        <th scope="col">Género</th>
        <th scopie="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let char of characters["results"]'>
        <td>{{char.id}}</td>
        <td>{{char.name}}</td>
        <td>{{char.species}}</td>
        <td>{{char.gender}}</td>
        <td><button type="button" class="btn btn-outline-info" [routerLink]="['/detail/',char.id ]">Detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h6>Paginación</h6>
  <!-- <a href="{{characters['info'].next}}">Siguiente</a>
  <a href="{{characters['info'].prev}}">Anterior</a> -->
  <button type="button" [routerLink]="['/characters',characters['info'].prev]">Anterior</button>
  <button type="button" [routerLink]="['/characters',characters['info'].next]">Siguiente</button>

</div>
