<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-4">
      <div class="poster">
        <span class="elementos mx-auto">
          <img  class="elementos" src={{character.image}} />
          <p class="elementos"><strong>Nombre: {{character.name}}</strong></p>
          <p class="elementos"><strong>Estado: {{character.status}}</strong></p>
          <p class="elementos"><strong>Especie: {{character.species}}</strong></p>
          <p class="elementos"><strong>Género: {{character.gender}}</strong></p>
        </span>
      </div>
      <!-- <button type="button" class="btn btn-primary derecha" [routerLink]="['/']">Volver</button> -->
      <button type="button" class="btn btn-primary derecha" (click)="backClicked()" >Volver</button>
    </div>
  </div>
</div>
